@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  align-items: center;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

.quizContainer {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  overflow: hidden;
  padding: 3rem;
  width: 600px;
}

#quizDIV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.initButton {
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 1.2rem;
}

#initButtonsContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#createQuiz {
  background-color: #2ecc71;
  width: 150px;
}

#createQuiz:hover {
  background-color: #27ae60;
}

#loadQuiz {
  background-color: #e74c3c;
  width: 150px;
}

#loadQuiz:hover {
  background-color: #c0392b;
}

#quizTitleForm {
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 100%;
}

.quizQuestionsForm {
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 100%;
}

.formLine {
  width: 100%;
}

#formButtons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 100%;
}

#createNextQuestion {
  background-color: #2ecc71;
}

#finishQuizForm {
  background-color: #3498db;
}

#backToMainPage {
  background-color: #e74c3c;
}

.quizAnswBtn {
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: 12px;
  padding: 1rem;
  width: 100%;
}

#a {
  background-color: #2ecc71;
  cursor: pointer;
}

#a:hover {
  background-color: #27ae60;
}

#b {
  background-color: #3498db;
  cursor: pointer;
}

#b:hover {
  background-color: #2980b9;
}

#c {
  background-color: #e74c3c;
  cursor: pointer;
}

#c:hover {
  background-color: #c0392b;
}

#d {
  background-color: #f1c40f;
  cursor: pointer;
}

#d:hover {
  background-color: #f39c12;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
}

#playAgain {
  background-color: #2ecc71;
  cursor: pointer;
}
#playAgain:hover {
  background-color: #27ae60;
}

#backToHomePage {
  background-color: #e74c3c;
  cursor: pointer;
}
#backToHomePage:hover {
  background-color: #c0392b;
}

#saveQuestLocalStorage {
  background-color: #2ecc71;
  cursor: pointer;
  width: 150px;
}
#saveQuestLocalStorage:hover {
  background-color: #27ae60;  
}

#dontSaveLocalStorage {
  background-color: #e74c3c;
  cursor: pointer;
  width: 150px;
}
#dontSaveLocalStorage:hover {
  background-color: #c0392b;
}

#localStorageDIV {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#quizTitleSave {
  margin-top: 30px;
}

#saveAndPlay {
  background-color: #2ecc71;
  cursor: pointer;
  width: 300px;
}
#saveAndPlay:hover {
  background-color: #27ae60;  
}

#quizLoadList {
  width: 100%;
}

.loadObjectItemList {
  align-items: center;
  background-color: #2ecc71;
  border-radius: 5px;
  color: white;
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: space-between;
  margin-top: 10px;
  padding: 1rem;
  width: 100%;
}
.loadObjectItemList:hover {
  background-color: #27ae60;  
}

#backToHome {
  background-color: #3498db;
  width: 300px;
}
#backToHome:hover {
  background-color: #c0392b;
}

.deleteItemStorageBtn {
  background-color: #e74c3c;
  margin-top: 0;
}

.playStoredQuiz {
  background-color: #f1c40f;
  margin: 0 15px 0 0;
}

#playAndDeleteBtnsDiv {
  display: flex;
  flex-wrap: nowrap;
  min-width: 175px;
}